@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
$public-sans: 'Public Sans', sans-serif;
// Font colors
$grayish-blue: hsl(233, 8%, 62%);
$grayish-blue-light: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$bright-cyan: hsl(192, 70%, 51%);
$lime-green: hsl(136, 65%, 51%);
$dark-blue: hsl(233, 26%, 24%);

@mixin center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-size: 18px;
}

.desktop{display: none;}
*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container
{
    #overlay
    {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9998;
        height: calc(100% - 64px);
        width: 100%;
        background-image: linear-gradient(black 25%, transparent);
        opacity: 0;
        visibility: hidden;
        transition: visibility 250ms ease, opacity 250ms ease;
    }

    .req-invite-button
    {
        font-size: 15px;
        text-decoration: none;
        background-image: linear-gradient(90deg, $lime-green, $bright-cyan);
        color: white;
        padding: 14px 32px;
        border-radius: 24px;
        font-weight: 400;
        opacity: 1;
        transition: opacity 150ms ease;

        &:hover
        {
            opacity: 0.7;
        }
    }

    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        height: 64px;
        font-family: $public-sans;
        background: white;
        #nav-menu
        {  
            display: flex;
            align-items: center;
            flex-flow: column; 
            position: absolute; 
            gap: 18px; 
            padding: 24px 0;
            top: 75px; 
            left: 50%; 
            transform: translateX(-50%); 
            width: 87.2%; 
            visibility: hidden;
            opacity: 0;
            background: white; 
            color: $dark-blue;
            transition: visibility 250ms ease, opacity 250ms ease, top 250ms ease; 
            border-radius: 4px; 
            
            &.active
            {
                visibility: visible;
                opacity: 1;
                top: 88px;
            }

            li{list-style-type: none;}
        }

        #hamburger-open
        {
            display: block;
            visibility: visible;
            opacity: 1;
            transition: visibility 250ms ease, opacity 250ms ease;
            &.active
            {
                display: none;
                opacity: 0;
                visibility: hidden;
            }
        }

        #hamburger-close
        {
            display: none;
            visibility: hidden;
            opacity: 0;
            transition: visibility 250ms ease, opacity 250ms ease;
            
            &.active
            {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    #hero
    {
        display: flex;
        flex-flow: column;
        height: 670px;
        font-family: $public-sans;
        overflow: hidden;
        margin-top: 64px;

        #hero__img__container
        {
            @include center;
            position: relative;
            flex: 1;

            #mobile-bg
            {
                position: absolute;
                width: 100%;
                height: 423px;
                margin-top: -40px;
            }

            #mockups
            {
                position: absolute;
                top: -122px;
            }
        }

        #cta-container
        {
            flex: 1;
            #cta
            {
                display: flex;
                flex-flow: column;
                align-items: center;
                margin-top: -10px;
                gap: 1em;
                h1
                {
                    color: $dark-blue;
                    font-weight: 300;
                    text-align: center;
                    font-size: 39px;
                }
                
                p
                {
                    color: $grayish-blue;
                    text-align: center;
                    max-width: 35ch;
                    font-size: 15px;
                    line-height: 25px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    #why-choose-easybank
    {
        @include center;
        font-family: $public-sans;
        background: $grayish-blue-light;
        height: 1305px;

        #why-choose-easybank-wrapper
        {
            width: 89%;
            
            p
            {
                color: $grayish-blue;
                line-height: 25px;
                font-size: 14px;
            }

            #why-choose-easybank-heading
            {
                display: flex;
                flex-flow: column;
                align-items: center;
                margin-bottom: 64px;

                h1
                {
                    text-align: center;
                    font-weight: 300;
                    font-size: 34px;
                    margin-bottom: 14px;
                    color: $dark-blue;
                    max-width: 10ch;
                }

                p
                {
                    text-align: center;
                    max-width: 40ch;
                }
            }

            #why-choose-easybank-info
            {
                display: flex;
                flex-flow: column;
                gap: 32px;
                 
                > * 
                {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    gap: 20px;

                    p{
                        max-width: 37ch;
                    }
                }

                h1
                {
                    text-align: center;
                    font-weight: 300;
                    color: $dark-blue;
                    font-size: 22px;
                }

                p{text-align: center;}
            }
        }
    }
}

@media only screen and (min-width: 1440px)
{
    .desktop{display: block;}
    .mobile{display: none !important;}
    #container
    {
        overflow: hidden;
        header
        {
            position: relative;
            height: 80px;
            justify-content: space-around;

            #nav-menu
            {  
                display: flex;
                align-items: center;
                flex-flow: row; 
                position: relative; 
                gap: 24px;
                padding: 0;
                top: 0; 
                left: 0; 
                transform: none; 
                width: auto; 
                visibility: visible;
                opacity: 1;
                background: transparent; 
                color: $grayish-blue;
                transition: none; 
                border-radius: none; 
                height: 100%;
                
                &.active
                {
                    visibility: visible;
                    opacity: 1;
                    top: 0;
                }
    
                li
                {
                    @include center;
                    cursor: pointer;
                    height: 100%;
                    position: relative;

                    &::after
                    {
                        content: ' ';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 5px;
                        background-image: linear-gradient(90deg, $lime-green, $bright-cyan);
                        opacity: 0;
                        transition: opacity 150ms ease;
                    }

                    &:hover::after
                    {
                        opacity: 1;
                    }
                }
            }
        }

        #hero
        {
            flex-flow: row-reverse;
            height: 656px;
            overflow: unset;
    
            #hero__img__container
            {
                flex: 1;
                position: relative;

                #bg-intro-desktop-container
                {
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;

                    #desktop-bg
                    {
                        position: absolute;
                        top: -250px;
                        left: -72px;
                    }
                }

                #mockups-desktop-container
                {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    #mockups
                    {
                        position: absolute;
                        top: -122px;
                        left: 90px;
                    }
                }
            }

            #cta-container
            {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                #cta
                {
                    align-items: flex-start;
                    gap: 1.5em;
                    position: absolute;
                    right: 100px;

                    h1
                    {
                        text-align: left;
                        font-size: 60px;
                    }
                    
                    p
                    {
                        text-align: left;
                        max-width: 41ch;
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
            }
        }

        #why-choose-easybank
        {
            height: 676px;
    
            #why-choose-easybank-wrapper
            {
                width: 78%;
    
                #why-choose-easybank-heading
                {
                    align-items: flex-start;
                    margin-bottom: 64px;
    
                    h1
                    {
                        text-align: left;
                        font-size: 40px;
                        margin-bottom: 14px;
                        max-width: none;
                    }
    
                    p
                    {
                        text-align: left;
                        max-width: 58ch;
                        font-size: 18px;
                    }
                }
    
                #why-choose-easybank-info
                {
                    flex-flow: row;
                    justify-content: space-between;
                    gap: 0;
                     
                    > * 
                    {
                        display: flex;
                        flex-flow: column;
                        align-items: flex-start;
                        gap: 20px;
    
                        p{
                            max-width: 27ch;
                            text-align: left;
                            font-size: 16px;
                        }
                    }
    
                    h1
                    {
                        text-align: left;
                        font-weight: 300;
                        color: $dark-blue;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}